<ng-container [formGroup]="form">
<div>
  @switch (type) {

   @case ('textarea') {

    <label *ngIf="label">{{ label }} </label>
      <textarea
        [formControlName]="name"
        [required]="required"
        [readonly]="readonly"
        [placeholder]="placeholder"
        rows="4"
        cols="50"
        (change)="inputChange($event)"
        [ngClass]="{ readonly: readonly  }"

      ></textarea>

    }
    @default {
      <label *ngIf="label">{{ label }} </label>
      <input
        [type]="type"
        [placeholder]="placeholder"
        [formControlName]="name"
        [readonly]="readonly"
        value="{{ __value }}"
        (change)="inputChange($event)"
        [ngClass]="{
          readonly: readonly,
         }"
      />
    }

}
</div>

</ng-container>