<nav
  id="navbar-example3"
  class="navbar flex flex-col p-0"
>
  <div class="menuwhitebg flex flex-col justify-center items-start relative pt-16 px-2">

    <div class="menus">
      <a
        class="nav-link cursor-pointer"
        [ngClass]="{'hover:bg-gray-50': activeTab !== 'dashboard'  }"
        (click)="routeTo('dashboard')"
      >
        <img
          src="assets/icons/dashboard.png"
        />
        Dashboard</a
      >
      <a
        class="nav-link nav-head cursor-pointer"
        [ngClass]="{'hover:bg-gray-50': activeTab !== 'add-contact' }"
        (click)="routeTo('add-contact')"
      >
        <img
          src="assets/icons/contact.png"
        />
       Add Contact</a>

  
    
    </div>
    

  </div>
</nav>
